.App {
  text-align: center;
  background: rgb(237, 241, 243);
  color: rgb(12, 17, 24);
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(253, 144, 2);
}
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 0.5rem;
}
.navbar li{
  font-size: 1.2rem;
  margin: 0.5rem;
}
.videoDisplay{
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}
.videoDisplay img{
  width: 100%;
  height: 100%;
}